
:root{
    --primary: #4b9cff;
    --secondary: #fc6838;
    --light-color:#f9fafd;
}
.app{
    max-height: 100vh !important;
    overflow: hidden;
}
.app-right{
    height: 100vh;
    overflow: auto;
}
.light-bg{
    background-color: var(--light-color) !important;
}
.form-control{
    padding: 15px !important;
    margin-bottom: 20px;
}
.form-control:hover, .form-control:focus{
    box-shadow: none !important;
    border: 1px solid var(--primary) !important;
}
.form-label{
    color: #424242;
    font-weight: bold;
}
.btn-close{
    --bs-btn-close-bg:url(https://cdn-icons-png.flaticon.com/128/8791/8791943.png?ga=GA1.1.874872603.1694171926&track=ais) !important;
}
.main-btn{
    border: none;
    outline: none;
    padding: 10px;
    background: var(--primary);
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}
.app-left{
    height: 100vh;
    overflow: auto;
    background: #151515 !important;
    padding: 20px 5px;
}

.sidenav{
    list-style-type: none;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.sidenav .sidenav-item{
    padding: 10px;
    margin-bottom: 15px;
    background-color: #1f1e1eab;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.sidenav .sidenav-item:hover{
    background-color: rgb(50, 50, 50);
}
.sidenav .sidenav-item a{
    text-decoration: none;
    color: #fff;
}

/* For WebKit Browsers */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b5b5b5; /* color of the thumb */
    border-radius: 6px; /* roundness of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c0; /* color of the thumb on hover */
  }
  
  /* For Firefox */
  /* Note: Firefox currently only supports styling the thumb */
  /* Track styling is not supported in Firefox as of my knowledge cutoff in January 2022 */
  ::-moz-scrollbar-thumb {
    background-color: #888; /* color of the thumb */
    border-radius: 6px; /* roundness of the thumb */
  }
  
  ::-moz-scrollbar-thumb:hover {
    background-color: #555; /* color of the thumb on hover */
  }
  .loading{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #00000064;
    display: flex;
    align-items: center;
    justify-content: center;
  }